<div class="container">
  <h1>Liste de produits</h1>
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nom du Produits</th>
        <th scope="col">Prix</th>
        <th scope="col">Date</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      {{#each products}}
      <tr>
        <td>{{dataValues.idproduct}}</a></td>
        <td><a href="/products/all/{{dataValues.idproduct}}">{{dataValues.name}}</a></td>
        <td>{{dataValues.price}}</td>
        <td>{{dataValues.date}}</td>
        <td>
          <a class="btn btn-success" href="/product/edit-products/{{dataValues.idproduct}}">Editer</a>
          <button class="btn btn-danger deleteBtn" id="{{dataValues.idproduct}}">Delete</button>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
  <a class="btn btn-primary" href="/products/new">Ajouter un produit</a>
</div>

<script src="/manageProduct.js"></script>
